Exam 2 answers - Guillermo Chumaceiro

## Problem 1

In [2]:
import csv

def control_sequence(data_file1, data_file2, sep = '\t'):
    '''
    This function compares the first column of two data files and
    verifies that the sequences are in the same order.
    The output is a true or false statement
    '''
    
    # Read data from file 1 and file 2
    with open(data_file1) as file1, open(data_file2) as file2:
        
        # Open the data from file1 and file two and convert it into a list
        data1 = list(csv.reader(file1, delimiter=sep))
        data2 = list(csv.reader(file2, delimiter=sep))
        
        # for loop by index in both files
        for index in range(len(data1)):
            
            # Check if the locus tag of both files in the same row are the same,
            if data1[index][0] == data2[index][0]:
                # If true, go to next row
                continue
            # Case where the locus tag is not the same in both files
            else:
                print('Locus tags in ' + data_file1 + ' and ' + data_file2 + ' are not in the same sequence')
                return False
        
        # If all files have the same sequence of locus tag, the program will reach this point
        # and it means that both files have the same sequence
        print('Locus tags in ' + data_file1 + ' and ' + data_file2 + ' are in the same sequence')
        return True
        
# ------- MAIN CODE ----------   

control_sequence('Germplasm.tsv', 'LocusGene.tsv')

Locus tags in Germplasm.tsv and LocusGene.tsv are in the same sequence

True

## Problem 2

In [3]:
%load_ext sql
%config SqlMagic.autocommit=False
%sql mysql+pymysql://root:root@127.0.0.1:3306/mysql

'Connected: root@mysql'

In [ ]:
%sql create database exam2;
%sql show databases

In [4]:
%sql use exam2;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

In [21]:
%sql show tables;

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
2 rows affected.

[('germplasm',), ('locus_gene',)]

In [25]:
%sql CREATE TABLE locus_gene(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, locus VARCHAR(10) NOT NULL, gene VARCHAR(20) NOT NULL, protein_length INTEGER NOT NULL);
%sql DESCRIBE locus_gene
%sql CREATE TABLE germplasm(id INTEGER NOT NULL AUTO_INCREMENT PRIMARY KEY, locus VARCHAR(10) NOT NULL, germplasm VARCHAR(50) NOT NULL, phenotype VARCHAR(500) NOT NULL, pubmed_id INTEGER NOT NULL);
%sql DESCRIBE germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
4 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
5 rows affected.

[('id', 'int(11)', 'NO', 'PRI', None, 'auto_increment'),
 ('locus', 'varchar(10)', 'NO', '', None, ''),
 ('germplasm', 'varchar(50)', 'NO', '', None, ''),
 ('phenotype', 'varchar(500)', 'NO', '', None, ''),
 ('pubmed_id', 'int(11)', 'NO', '', None, '')]

In [24]:
%sql DROP table locus_gene
%sql DROP table germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.
 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
0 rows affected.

[]

## Problem 3

In [7]:
def list_data_converter(file, sep = '\t'):
    with open(file) as data:
        data_list = list(csv.reader(data, delimiter=sep))
        return data_list[1:]
    
list_data_converter('Germplasm.tsv')[2]

['AT1G01140',
 'SALK_058629',
 'hypersensitive to low potassium media',
 '17486125']

In [26]:
import pymysql.cursors

# Connect to the database
connection = pymysql.connect(host='localhost',
                             user='root',
                             password='root',
                             db='exam2',
                             charset='utf8mb4',  # note utf8... this is important for unusual characters!
                             cursorclass=pymysql.cursors.DictCursor,
                             autocommit=True)

#connection.autocommit = False  # note that it is possible to delay putting changes into the database!

try:
    with connection.cursor() as cursor:
        # Read a single record
        # cursor points to DB
        germplasm_data = list_data_converter('Germplasm.tsv')

        
        for germplasm_row in germplasm_data:
            sql = "INSERT INTO germplasm (locus, germplasm, phenotype, pubmed_id) VALUES ('{}','{}','{}',{})".format(germplasm_row[0], germplasm_row[1],germplasm_row[2], germplasm_row[3])
            cursor.execute(sql)
        
        locus_data = list_data_converter('LocusGene.tsv')
        
        for locus_data_row in locus_data:
            sql = "INSERT INTO locus_gene (locus, gene, protein_length) VALUES ('{}','{}',{})".format(locus_data_row[0], locus_data_row[1], locus_data_row[2])
            cursor.execute(sql)
        results = cursor.fetchall() #  will always return a list of matching results
        print(results) # it is a list, inside there is a dictionary. Keys are column names
        print("")
        
finally:
    print("")
    connection.close()

()

In [23]:
%sql SELECT * FROM germplasm

 * mysql+pymysql://root:***@127.0.0.1:3306/mysql
11 rows affected.

[(1, 'AT1G01040', 'CS3828', 'Increased abundance of miRNA precursors.', 17369351),
 (2, 'AT1G01060', 'lhy-101', 'The mutant plants are hypersensitive to both FRc and Rc light treatments in hypocotyl elongation and exhibits a small reciprocal enlargement in cotyledon area, albeit not statistically significant.', 16891401),
 (3, 'AT1G01140', 'SALK_058629', 'hypersensitive to low potassium media', 17486125),
 (4, 'AT1G01220', 'SALK_012400C', 'fkgp-1 mutants have about 40 times more L-fucose than wild type Arabidopsis plants, but the levels of other monosaccharides do not appear to differ s ... (41 characters truncated) ... henotypic abnormalities were observed in the fkgp-1 mutants, nor were any differences in the sugar composition of cell wall polysaccharides detected.', 18199744),
 (5, 'AT2G03720', 'SALK_042433', 'Multiple straight hairs', 16367956),
 (6, 'AT2G03800', 'gek1-1', 'Ethanol hypersensitivity.', 15215505),
 (7, 'AT2G04240', 'xerico', 'Resistant to exogenous ABA. Seeds contained lower amounts of endogenous ABA than wildtype.', 17933900),
 (8, 'AT2G05210', 'pot1-1', 'No visible phenotype.', 17627276),
 (9, 'AT3G02130', 'rpk2-2', 'The homozygous progeny is indistinguishable from wild-type plants during vegetative growth but showed several morphological alterations after bolting. These plants displayed enhanced inflorescence branching and formed three times as many siliques and flowers as did wild-type plants.', 17419837),
 (10, 'AT3G02140', 'afp4-1', 'Decreased germination on high concentrations of glucose and sorbitol.', 18484180),
 (11, 'AT3G02230', 'rgp1-1', 'rgp1-1 mutants have significantly lower levels of UDP-L-arabinose mutase activity compared to wild-type plants and significantly lower levels of arabinose in their cell walls.', 21478444)]